<h2>To-Dos Übersicht</h2>

<a routerLink="/todos/add" class="link">To-Do hinzufügen</a>

<table *ngIf="(todos | async)?.length; else noTodos">
  <tr>
    <td>Titel</td>
    <td>Beschreibung</td>
    <td>Fälligkeit</td>
    <td>Abgeschlossen</td>
    <td>Aktionen</td>
  </tr>
  <tr *ngFor="let todo of todos | async">
    <td>{{todo.title}}</td>
    <td>{{todo.description}}</td>
    <td>{{todo.dueDate | date}}</td>
    <td>{{todo.done}}</td>
    <td>
      <a [routerLink]="['/todos', todo.id]" class="link">anzeigen</a>
      <a href="javascript:void(0)" (click)="delete(todo.id)" class="link">löschen</a>
    </td>
  </tr>
</table>

<ng-template #noTodos>
  Es existieren noch keine To-Dos.
</ng-template>
